<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

  <div class="d-flex justify-content-between mb-3">
    <h2>Tasks</h2>
    <div>
      <a href="/tasks/add" class="btn btn-success">Add Task</a>
      <a href="/dashboard" class="btn btn-secondary">Dashboard</a>
    </div>
  </div>

  <ul class="list-group">

  <% tasks.forEach(t => { %>
    <li class="list-group-item">

      <!-- title -->
      <h5 class="mb-1"><strong><%= t.title %></strong></h5>

      <!-- task description -->
      <% if (t.description) { %>
        <p class="mb-2 text-muted"><%= t.description %></p>
      <% } %>

      <!-- task due date -->
    
        <p class="mb-2">
          <strong>Due:</strong> <%= new Date(t.dueDate).toLocaleDateString() %>
        </p>
  
      <div class="d-flex gap-2 mt-2">

        <!-- Toggle -->
        <form method="POST" action="/tasks/status/<%= t.id %>">
          <% if (t.status === "pending") { %>
            <button class="btn btn-sm btn-success">Mark as Completed</button>
          <% } else { %>
            <button class="btn btn-sm btn-secondary">Mark as Incomplete</button>
          <% } %>
        </form>

        <!-- task edit -->
        <a href="/tasks/edit/<%= t.id %>" class="btn btn-sm btn-warning">Edit</a>

        <!-- task delete -->
        <form method="POST" action="/tasks/delete/<%= t.id %>">
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>

      </div>

    </li>
  <% }) %>

</ul>

</div>

</body>
</html>